/* Bitte fügt immer Komentare ein um alles zu Sturcktuieren :) */
/* Ich habe die Hintergrundfarbe auf weiß geändert und würde z.B. Menu etc. in blau machen. GEGEN AUGENKREBS!!! -Arne */

body{

    background-color: white;
    background-image: url("Background.jpg");
    background-image: url(Hintergrund2.jpg); 
    background-position:  center; 
    background-repeat: no-repeat; 
    background-size:cover; 
    background-attachment:fixed; 
  
  
}

/* Überschriften */

h1{

    text-align: center;

}


/* andere Klassen */

.Box {

  background-color: rgba(0, 255, 255, 0.342);

}






























/* top Navigationbar*/  

.topnav {
    overflow: hidden;
    background-color: #000000;
  }

/* links in der Navigationbar */

.topnav a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

/* Farbe beim hovern ändern */

.topnav a:hover{

    background-color: #ddd;
    color: black;
}

/* Farbe bei aktiv */

.topnav a.active{

background-color: blue;
color: white; 
    
}

/*searchbox*/

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  