/* Bitte fügt immer Komentare ein um alles zu Sturcktuieren :) */
/* Ich habe die Hintergrundfarbe auf weiß geändert und würde z.B. Menu etc. in blau machen. GEGEN AUGENKREBS!!! -Arne */

body{

    background-color: white;
    background-image: url("Background.jpg");
    background-image: url(Hintergrund2.jpg); 
    background-position:  center; 
    background-repeat: no-repeat; 
    background-size:cover; 
    background-attachment:fixed; 
  
  
}

/* Überschriften */

h1{

    text-align: center;

}


/* andere Klassen */

.Box {

  background-color: rgba(0, 255, 255, 0.342);

}








/* top Navigationbar*/  

.icon-bar {
  width: 100%; 
  background-color: #555; 
  overflow: auto; 
}

.icon-bar a {
  float: left; 
  text-align: center;
  width: 20%; 
  padding: 12px 0;
  transition: all 0.3s ease; 
  color: white; 
  font-size: 36px; 
}

.icon-bar a:hover {
  background-color: #000; 
}

.active {
  background-color: #04AA6D; 
}